body {
    background-color: gray;
}

.card{
    background-color:#012f3a;
    border-radius: 20px;
    color: white;
}
.navbar {
    background-color: #023846;
    font-family: 'Paytone One', sans-serif;
    
}