body{
    background-image: url(https://zupimages.net/up/20/48/l3bp.jpg);
    background-size:  50%;
    font-family: 'Paytone One', sans-serif;
    color: white;
}

.contour{
    position: absolute;
    left: 30%;
    background-color: #023846;
    box-shadow: 7px 7px black;
    height: 400px;
    width: 500px;
    border-radius: 50px;
    margin-top: 20px;
}

.trait1{
    border-bottom: 2px solid white;
}
.trait2{
    border-bottom: 3px solid white;
} 